<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>
    <a href="/">Trang chu</a>
</p>
<br/>
<p>
    <a href="/create-city">Create new city</a>
</p>
<h1>cities</h1>

<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>


<table border="1">
    <tr>
        <th>Name</th>
        <th>Country</th>
        <th>Population</th>
        <th>Acreage</th>
        <th>GDP</th>
        <th>Description</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="city :${cities}">
        <tr>
            <td th:text="${city.name}"></td>
            <td th:text="${city.country.name}"></td>
            <td th:text="${city.acreage}"></td>
            <td th:text="${city.population}"></td>
            <td th:text="${city.gdp}"></td>
            <td th:text="${city.description}"></td>
            <td><a th:href="@{/edit-city/__${city.id}__}">Edit</a></td>
            <td><a th:href="@{/delete-city/__${city.id}__}">Delete</a></td>
        </tr>
    </th:block>
</table>
<div>
    <a th:href="@{'/cities'(page=${cities.number - 1})}" th:if="${cities.hasPrevious()}">Previous</a>
    <span th:text="${cities.number + 1}"></span>/<span th:text="${cities.totalPages}"></span>
    <a th:href="@{'/cities'(page=${cities.number + 1})}" th:if="${cities.hasNext()}">Next</a>
</div>
<footer th:replace="layout :: footer"></footer>
</body>
</html>